<br>
<head>
  <style type="text/css">
     body { background: #425E77 !important; }
  </style>

</head>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="aboutcaps">ABOUT ListSeven7</div>
    <br><br>
    <p id="peach">This is a self destructing to do list.
      Once you add an item to your list, you have 7 days to get it done or it
      will automatically be deleted. If you didn't get it done in a week, then
      you didn't really need to do it, amirite?
    </p>
  </div>
</div>
