<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/yeti/bootstrap.min.css" rel="stylesheet" integrity="sha384-yxFy3Tt84CcGRj9UI7RA25hoUMpUPoFzcdPtK3hBdNgEGnh9FdKgMVM+lbAZTKN2" crossorigin="anonymous">
</head>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1><center>About Blocitoff</center></h1>
    <p><center>This is a self destructing to do list. Once you add an item to your list, you have 7 days to get it done or it will automatically be deleted. If you didn't get it done in a week, then you didn't really need to do it, amirite?</center></p>
  </div>
</div>
