<br>
<style type="text/css">
   body { background: #4b6b87 !important; }
</style>

<div class="jumbotron">
  <center>
    <div class="app-name">kioku</div>
    <div class="raleway-text">The most efficient to-do list</div>

    <br>
    <%= image_tag("flatbread.png") %>

    <% unless user_signed_in? %>
    <br><br><br>
      <p>
    		<%= link_to "Sign Up", new_user_registration_path, :class => 'main-signup' %>
      </p>
    <% end %>

  </center>
</div>
