<br>
<style type="text/css">
   body { background: #425E77 !important; }
</style>

<div class="jumbotron">
  <center>
    <h1 id="caps">Blocitoff</h1>
    <p id="peach">The most efficient to-do list</p>

    <% unless user_signed_in? %>
      <p>
    		<%= link_to "Sign Up", new_user_registration_path, :class => 'main-signup' %>
      </p>
    <% end %>

  </center>
</div>
