<% user.items.each do |item| %>
  <% unless item.created_at.nil? %>
    <p><strong><%= item.name %></strong><small><em> (added: <%= time_ago_in_words(item.created_at) %> ago)</em></small></p>
    <br>
  <% end %>
<% end %>
