<% @user.items.each do |item| %>
  <%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>
    <p>
      <%= link_to "", [item.user, item], method: :delete, remote: true, class: 'glyphicon glyphicon-check' %>
      <strong><%= item.name %></strong>
      <small><em> (<%= distance_of_time_in_words(item.created_at, Time.now - 7.days) %> remaining)</em></small>
    </p>
  <% end %>
<% end %>
