@import "bootstrap-sprockets";
@import "bootstrap";

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
  margin-left: -15px;
  font-family: 'Patrick Hand SC', cursive;
  border-color: #F76B51;
  font-size: 20px;
}

.navbuttons {
  background-color:transparent !important;
  color: #d1d3d3 !important;
  font-size: 20px;
}

.app-name {
  text-align: center;
  font-size: 80px;
  color: #d1d3d3;
  font-weight: bold;
  font-family: 'Patrick Hand SC', cursive;
}

.about {
  text-align: center;
  font-size: 60px;
  color: #d1d3d3;
  font-weight: bold;
  font-family: 'Patrick Hand SC', cursive;
}

.jumbotron {
  border-color: #F7786B;
  background-color:transparent !important;
}
a {
  color: #d1d3d3 !important;
}

a:hover {
    color: #BCFFD8 !important;
    text-decoration: none !important;
}

.link {
  color: #d1d3d3;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 20px;
  text-decoration: none !important;
}

#peach {
  color: #F76B51;
  font-family: 'Raleway', sans-serif;
}

.peach-color {
  color: #F76B51;
}

.raleway-text {
  font-family: 'Raleway', sans-serif;
  color: #F76B51;
  text-align: center;
  font-size: 16px;
}

.fontstyle {
  color: #d1d3d3;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
}

.patrick-peach {
  color: #F76B51;
  font-family: 'Patrick Hand SC', cursive;
}


.main-signup {
  font-family: 'Patrick Hand SC', cursive;
  color: white;
  background: #F76B51;
  border: 1px solid #F76B51;
  font-size: 17px;
  padding: 7px 12px;
  font-weight: normal;
  margin: 6px 0;
  margin-right: 6px;
  display: inline-block;
  text-decoration: none !important;
  text-align: center;
  min-width: 100px;
}

.button-save {
  font-family: 'Raleway', sans-serif;
  color: #F76B51;
  background: #4b6b87;
  border: 1px solid #F76B51;
  font-size: 12px;
  padding: 7px 12px;
  font-weight: normal;
  margin: 6px 0;
  margin-right: 6px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  min-width: 70px;
}

.panel-default {
  border: 2px solid #F76B51 !important;
  background-color: #4b6b87 !important;
}

.glyphicon-check {
  color: #F76B51;
}


// font-family: 'Patrick Hand SC', cursive;
// font-family: 'Shadows Into Light', cursive;
// font-family: 'Raleway', sans-serif;
