@import "bootstrap-sprockets";
@import "bootstrap";

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
  margin-left: -15px;
}

.navbuttons {
  background-color:transparent !important;
  color: #d1d3d3 !important;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}

#nav-barline {
  border-color: #F78F84;
}

#caps {
  text-transform: uppercase;
  text-align: center;
  font-size: 80px;
  color: #d1d3d3;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
}

#non-caps {
  text-align: center;
  font-size: 80px;
  color: #d1d3d3;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
}

.aboutcaps {
  // text-transform: uppercase;
  text-align: center;
  font-size: 60px;
  color: #d1d3d3;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
}

.jumbotron {
  border-color: #F7786B;
  background-color:transparent !important;
}

a:hover {
    color: #BCFFD8 !important;
}

.link {
  color: #d1d3d3;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  text-decoration: none !important;
}

#white {
  color: white;
  font-family: 'Indie Flower', cursive;
  text-align: center;
  font-size: 20px;
}

#peach {
  color: #F78F84;
  font-family: 'Indie Flower', cursive;
  text-align: center;
  font-size: 20px;
}


.main-signup {
  font-family: 'Indie Flower', cursive;
  color: white;
  background: #F78F84;
  border: 1px solid #F78F84;
  font-size: 17px;
  padding: 7px 12px;
  font-weight: normal;
  margin: 6px 0;
  margin-right: 6px;
  display: inline-block;
  text-decoration: none !important;
  text-align: center;
  min-width: 100px;
  text-transform: uppercase;
}

.button-save {
  font-family: 'Indie Flower', cursive;
  color: #F78F84;
  background: #425E77;
  border: 1px solid #F78F84;
  font-size: 12px;
  padding: 7px 12px;
  font-weight: normal;
  margin: 6px 0;
  margin-right: 6px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  min-width: 70px;
  text-transform: uppercase;
}

.size20 {
  font-size: 20px;
}

.fontstyle {
  color: #d1d3d3;
  font-family: 'Indie Flower', cursive;
}

.text-fontstyle {
  color: black;
  font-family: 'Indie Flower', cursive;
}

.fontcaps {
  color: #F78F84;
  font-family: 'Indie Flower', cursive;
  text-transform: uppercase;
}

.panel-default {
  border: 2px solid #F78F84 !important;
  background-color: #425E77 !important;
}

.glyphicon-check {
  color: #F78F84;
}
